* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 8vmin;
    color: #7e332f;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 24px;
    background-color: #2b2b23;
    color: white;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#new-btn {
    padding: 1rem;
    font-size: 24px;
    background-color: #2b2b23;
    color: white;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#msg{
    color: #ffffc7;
    font-size: 7vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}

.hide{
    display: none;
}